<%= turbo_stream.update "calc-table" do %>
  <table class="table-auto">
    <tr>
      <th>Item</th>
      <th>Current Stock</th>
      <th>Needed Stock</th>
      <th>Balance</th>
    </tr>
    <% total_families = @barangay_puroks.sum(:population) %>
    <% @bundle_items.each do |bi| %>
      <% needed = total_families * bi.quantity %>
      <% required = bi.item.stock - needed %>
      <tr>
        <%= tag.td do %>
          <%= link_to "#{bi.item.name} (x#{bi.quantity})", item_url(bi.item) %>
        <% end %>
        <%= tag.td bi.item.stock %>
        <%= tag.td "#{needed}" %>
        <%= tag.td "#{required}" %>
      </tr>
    <% end %>
    <tr style="border-bottom: 2px solid black; background-color: black">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <strong>Total Families</strong>
      </td>
      <%= tag.td total_families, style: "text-align: right;" %>
    </tr>
  </table>
<% end %>