<%= render @bundle %>

<div class="my-4">
  <%= link_to "Show bundle's item list", bundle_items_path(bundle_id: @bundle.id), class: "btn-primary" %>
  <%= link_to "Edit this bundle", edit_bundle_path(@bundle), class: "btn-primary" %>
  <%= link_to "Back to bundles", bundles_path, class: "btn-secondary" %>
  <%= link_to "Destroy this bundle", @bundle, class: "btn-danger",
              data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete Bundle #{@bundle.name}?" } %>
</div>