<div class="rounded-md bg-white shadow">
  <div class="p-4 border-b-2 border-gray-200 flex flex-row justify-between items-center">
    <h3 class="text-xl font-medium"><%= @bundle.name %> Items List</h3>

    <div class="flex flex-row flex-wrap justify-end items-center space-x-4">
      <%= link_to "Back to #{@bundle.name}", @bundle, class: "btn-secondary" %>
      <%= link_to "New Bundle Item", new_bundle_item_path(bundle_id: @bundle.id), class: "btn-primary" %>
    </div>
  </div>

  <div class="flex flex-row flex-wrap space-x-8 p-4">
    <% if @bundle_items.count > 0 %>
      <table class="table-auto border-collapse border min-w-full text-left">
        <thead>
          <tr class="bg-gray-500 text-white">
            <th>Item Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
            <% @bundle_items.each do |bi| %>
            <tr class="hover:bg-gray-200">
              <td>
              <%= link_to bi.item.name, edit_bundle_item_path(bundle_id: @bundle.id, id: bi.id), class: "block" %>
              </td>

              <td>
                <%= link_to bi.quantity, edit_bundle_item_path(bundle_id: @bundle.id, id: bi.id), class: "block" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>You do not have any items in the bundle...</p>
    <% end %>
  </div>
</div>
